@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contAreaTextElement {
  height: auto;
  transition: all ease 0.20s;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 2px ridge v.$colorHell2;
    outline-offset: 3px;
    border-radius: 2px;
  }

  &>.labelOfForm {
    @include d.configurationLabel (v.$colorTextIni, 0.65rem);
    text-align: left;
    width: fit-content;
    min-width: auto;
    height: 2rem;
    padding: 0.1%;
    margin: 0%;
    margin-right: 2%;
  }

  &>.contAreaText {
    @include l.layoutFlexboxRowCenter;
    justify-content: flex-start;
    align-items: flex-start;
    @include d.configurationText1 (v.$backgroundColorDunkelGray5, 0.6rem);
    width: cal(fit-content + 1%);
    min-width: fit-content;
    min-height:auto;
    padding: 0.3%;
    margin: 0%;
    resize: none;
    text-align: left;
    border-radius: 3px;
    border: 1px solid v.$backgroundColorDunkelGray4;
  
  }

  &>.areaTextActiv {
    @extend .contAreaText;
    transition: all ease 0.35s;

    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid v.$colorHell4White;
      box-shadow: v.$boxShadow16;
    }
  }
  &>.areaTextNotActiv {
    @extend .contAreaText;
    color: v.$backgroundColorDunkelGray;
    font-weight: 600;
    background-color: v.$backgroundColorHellGrayT;
    border: none;
  }
}