@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;

.contEmailElement {
  min-width: fit-content;
  height: 2.4rem;
  padding: 1%;
  margin: 0%;

  border: 1px solid black;

  &>.labelOfForm {
    @include d.configurationLabel (v.$colorTextIni, 0.7rem);
    text-align: right;
    width: auto;
    min-width: fit-content;
    height: 2rem;
    padding: 0.3%;
    margin: 0.5% 0%;
    margin-right: 2%;
  }

  &>.contInputEmail {
    @include d.configurationText1 (v.$backgroundColorDunkelGray5, 0.6rem);
    width: auto;
    min-width: fit-content;
    text-align: left;
    height: 2rem;
    padding: 0.3%;
    padding-left: 1%;
    margin: 0.5% 0%;
    border-radius: 3px;
    border: 1px solid v.$backgroundColorDunkelGray4;
    transition: all ease 0.35s;

    &:hover,
    &:focus {
      cursor: pointer;
      max-height: 2rem;
      border: 1px solid v.$colorHell4White;
      box-shadow: v.$boxShadow16;
    }
  }
}