@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contMasterElement_PB {
  height: 2.4rem;
  transition: all ease 0.20s;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 2px ridge v.$colorHell2;
    outline-offset: 3px;
    border-radius: 2px;
  }

  &>.buttonMasterElem {
    @include d.configurationText1 (v.$colorTextIni, 0.55rem);
    width: auto;
    height: 2.4rem;
    margin: 0%;
    padding: 0% 2%;
    font-weight: 600;
    text-align: center;
    transition: all ease 0.20s;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: v.$backgroundColorHellGray;
      color: v.$colorRedNeu;
    }
  }
}