@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contSelectElement {
  width: auto;
  min-width: fit-content;
  height: 2.4rem;
  padding: 1%;
  margin: 0%;

  border: 1px solid black;

  &>.labelOfForm {
    @include d.configurationLabel (v.$colorTextIni, 0.7rem);
    text-align: right;
    width: auto;
    min-width: fit-content;
    height: 1rem;
    padding: 0.3%;
    margin: 0.5% 0%;
    margin-right: 1%;
  }

  &>.contSelect {
    @include l.layoutFlexboxRowCenter;
    justify-content: flex-start;
    align-items: flex-start;
    @include d.configurationText1 (v.$backgroundColorDunkelGray5, 0.6rem);
    width: auto;
    min-width: fit-content;
    height: 2rem;
    padding: 0.3%;
    padding-left: 0%;
    margin: 0.5% 0%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid v.$backgroundColorDunkelGray4;
  }

  &>.selectActiv {
    @extend .contSelect;
    transition: all ease 0.35s;

    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid v.$colorHell4White;
      box-shadow: v.$boxShadow16;
    }
  }
  &>.selectNotActiv {
    @extend .contSelect;
    color: v.$backgroundColorDunkelGray;
    font-weight: 600;
    background-color: v.$backgroundColorHellGrayT;
    border: none;
  }
}