@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contCol {
  height: 2.4rem;

  &>.circle {
    width: 0.7rem;
    height: 0.7rem;
    background-color: v.$backgroundColorHellGrayT3;
    border: 1px solid v.$backgroundColorBlack1;
    border-radius: 50%;
    transition: all ease 0.20s;

    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(0.85);
      background-color: v.$backgroundColorHellGrayT;
      border: 1px solid v.$colorRedNeu;
      color: v.$colorRedNeu;
      font-weight: bolder;
    }
  }
}