@use '../layouts' as l;
@use '../myvariables' as v;
@use '../designElement' as d;


.buttonIcon {
  @include d.buttonTypeNeuMorphismus2 (v.$colorNavy);
  padding: 4% 8%;
  margin: 1% auto;
  transition: all 0.35s ease;
  cursor: pointer;

  &:hover {
    background: linear-gradient(315deg, #8f8f8f, #414141);
    box-shadow: -2px -2px 5px #545454,
      1px 1px 4px #bababa;
    font-weight: bolder;
    color: v.$colorbackgroudMy;
    transform: scale(0.92);
  }

  &>.modalPopup {
    font-size: 12px;
    margin: 5% 0%;

    &>.headerPopup {
      width: 100%;
      border-bottom: 1px solid gray;
      font-size: 18px;
      text-align: center;
      padding: 5px;
    }

    &>.contentPopup {
      width: 100%;
      padding: 10px 5px;
    }

    &>.actionsPopup {
      width: 100%;
      padding: 10px 5px;
      margin: auto;
      text-align: center;
    }

    &>.closePopup {
      cursor: pointer;
      position: absolute;
      display: block;
      padding: 2px 5px;
      line-height: 20px;
      right: -10px;
      top: -10px;
      font-size: 24px;
      background: #ffffff;
      border-radius: 18px;
      border: 1px solid #cfcece;
    }
  }
}