@use '../../myvariables' as v;
@use '../../layouts' as l;
@use '../../designElement' as d;


.contIconsEditDelete {
  // width: 100%;
  height: 1.2rem;
  margin: 0%;
  padding: 0%;

}

.contIcon {
  padding: 1%;
  transition: all ease 0.20s;

  &:hover, &:focus {
    cursor: pointer;
    transform: scale(1.2) translateY(-6px);
    border-radius: 50%;
    background-color: v.$backgroundColorDunkelGray5;
  }
}
